<!-- Sección: COMIDAS -->
            <section id="comidas">
            <h2>@ViewBag.Restaurante.nombre</h2>
              <!-- Comida 1 -->
              <article>
                <p>Tipo de Comida: @ViewBag.Restaurante.tipoComida</p>
                <p>Rating: @ViewBag.Restaurante.promedioRating</p>
                <p>Dirección: @ViewBag.Restaurante.direccion</p>
              </article>

             

              <!-- Comida 2 -->
              <article>
              <h2>Platos</h2>
            @foreach (var p in ViewBag.PlatosRestaurante)
            {
                <p>@p.nombre</p>
                <p>@p.descripcion</p>
                <p>@p.precio</p>
            }
              </article>

            <li><hr class="divider"></li>
          
          
            <section id="promos">
              <h2>Promos</h2>
          
              <!-- Promo destacada -->
              <div>
                <!-- acá va la foto de la promo -->
                <img src="" alt="">
                <!-- acá va el texto de la promoción (ej: 2x1) -->
                <p>x</p>
              </div>
            </section>
          
            <li><hr class="divider"></li>
          
            <!-- Sección: DESTACADOS -->
            <section id="destacados">
              <h2>Destacados CARRUSEL</h2>
          
              

            <li><hr class="divider"></li>
          
          
            <section id="favoritos">
              <h2>Tus Favoritos</h2>
          
              <!-- Favorito 1 -->
              <article>
                <img src="" alt="">
                <h3>x</h3>
                <p>x</p>
                <div>x</div>
              </article>
          
              <!-- Favorito 2 -->
              <article>
                <img src="" alt="">
                <h3>x</h3>
                <p>x</p>
                <div>x</div>
              </article>
            </section>

            <li><hr class="divider"></li>
          
          
            <!-- Sección: BEBIDAS -->
            <section id="bebidas">
              <h2>Bebidas</h2>
          
              <!-- Bebida 1 -->
              <article>
                @foreach (var b in ViewBag.BebidasRestaurante)
            {
                <p>@b.nombre</p>
                <p>@b.descripcion</p>
            }
              </article>

            <li><hr class="divider"></li>
          
          
            <!-- Sección: POSTRES -->
            <section id="postres">
              <h2>Postres</h2>
          
              <!-- Postre 1 -->
              <article>
                <h3>x</h3>
                <p>x</p>
                <div>x</div>
              </article>
          
              <!-- Postre 2 -->
              <article>
                <h3>x</h3>
                <p>x</p>
                <div>x</div>
              </article>
            </section>