@{
    Layout = "_Layout";
}

@* 1. Opcional: Mostrar el nombre de la Restricción seleccionada (si GetRestriccionBusqueda devuelve un objeto con la propiedad 'nombre') *@
@if (ViewBag.Restaurante != null)
{
    <h2>@ViewBag.Restaurante.nombre</h2>
    <hr />
}
else
{
    <h2>Resultados de Restaurante</h2>
}


<h3>Platos Disponibles</h3>
@if (ViewBag.PlatosRestaurante != null && ViewBag.PlatosRestaurante.Count > 0)
{
    @foreach (var p in ViewBag.PlatosRestaurante)
    {
        <div class="item-plato">
            <a class="btn btn-primary" href='@Url.Action("verPlato", "Home", new {idPlato= p.idPlato})'>
                @p.nombre
            </a>
            
            <p><strong>Descripción:</strong> @p.descripcion</p>
            <p><strong>Calorías:</strong> @p.calorias</p>
            <p><strong>Precio:</strong> $@p.precio</p>
        </div>
        <br/>
    }
}
else
{
    <p>No se encontraron platos para esta restricción.</p>
}

@if (ViewBag.BebidasRestaurante != null && ViewBag.BebidasRestaurante.Count > 0)
{
    @foreach (var b in ViewBag.BebidasRestaurante)
    {
        <div class="item-bebida">
            <a class="btn btn-primary" href='@Url.Action("verBebida", "Home", new {idBebida= b.idBebida})'>
                @b.nombre
            </a>
            
            <p><strong>Descripción:</strong> @b.descripcion</p>
        </div>
        <br/>
    }
}
else
{
    <p>No se encontraron bebidas para esta restricción.</p>
}